In [1]:
import pandas as pd

In [7]:
data = {
    'StudentID': [101, 102, 103, 104, 105, 106, 107],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Grace'],
    'Subject': ['Math', 'Science', 'Math', 'English', 'Science', 'Math', 'English'],
    'StudyHours': [2.5, 4.0, 1.5, 3.0, 5.5, None, 2.0], # Frank's data is missing
    'Grade': [85, 92, 78, 88, 95, 65, 81]
}
grades_df=pd.DataFrame(data)
print(grades_df)

   StudentID     Name  Subject  StudyHours  Grade
0        101    Alice     Math         2.5     85
1        102      Bob  Science         4.0     92
2        103  Charlie     Math         1.5     78
3        104    David  English         3.0     88
4        105    Emily  Science         5.5     95
5        106    Frank     Math         NaN     65
6        107    Grace  English         2.0     81

1. Selecting single column

In [9]:
names=grades_df['Name']

In [11]:
print('Selecting single column:')
print(names)

Selecting single column:
0      Alice
1        Bob
2    Charlie
3      David
4      Emily
5      Frank
6      Grace
Name: Name, dtype: object

In [12]:
print(f"Type os result is {type(names)}")

Type os result is <class 'pandas.core.series.Series'>

2. Selecting multiple columns

In [15]:
name_and_grade=grades_df[['Name','Subject']]
print(name_and_grade)

      Name  Subject
0    Alice     Math
1      Bob  Science
2  Charlie     Math
3    David  English
4    Emily  Science
5    Frank     Math
6    Grace  English

In [17]:
print(f"Result of multiselection is {type(name_and_grade)}")

Result of multiselection is <class 'pandas.core.frame.DataFrame'>

3. Selecting rows

In [20]:
# Select the row at the 2nd position (index 3)
charlie_data=grades_df.iloc[2]
print(charlie_data)

StudentID         103
Name          Charlie
Subject          Math
StudyHours        1.5
Grade              78
Name: 2, dtype: object

.loc (Label-Based Selection)

In [19]:
# Select the row with index label 2 (Charlie)
charlie_data=grades_df.iloc[2]
print(charlie_data)

StudentID         103
Name          Charlie
Subject          Math
StudyHours        1.5
Grade              78
Name: 2, dtype: object

In [21]:
# Slicing
some_students=grades_df.iloc[2:5]
print(some_students)

   StudentID     Name  Subject  StudyHours  Grade
2        103  Charlie     Math         1.5     78
3        104    David  English         3.0     88
4        105    Emily  Science         5.5     95

4. Combining Row and column selection </br>
   <b>.loc[row_selector, column_selector]<b>

In [22]:
Bob_grade=grades_df.loc[1, 'Grade']
print(Bob_grade)

92

In [23]:
simple_subset = grades_df.loc[2:5,'Grade']
print(simple_subset)

2    78
3    88
4    95
5    65
Name: Grade, dtype: int64

In [26]:
subset = grades_df.loc[2:5,['Name','Grade']]
print(subset)

      Name  Grade
2  Charlie     78
3    David     88
4    Emily     95
5    Frank     65

5. Conditional Selection

In [27]:
is_math = grades_df['Subject']=='Math'

In [28]:
print(is_math)

0     True
1    False
2     True
3    False
4    False
5     True
6    False
Name: Subject, dtype: bool

In [29]:
math_students=grades_df[is_math]
print(math_students)

   StudentID     Name Subject  StudyHours  Grade
0        101    Alice    Math         2.5     85
2        103  Charlie    Math         1.5     78
5        106    Frank    Math         NaN     65

In [32]:
science_score = (grades_df['Subject']=='Science') & (grades_df['Grade']>85)
print(science_score)

0    False
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [34]:
science_achievers = grades_df[science_score]
print(science_achievers)

   StudentID   Name  Subject  StudyHours  Grade
1        102    Bob  Science         4.0     92
4        105  Emily  Science         5.5     95