In [1]:
import pandas as pd

In [3]:
grades_df=pd.read_csv('grades.csv')
print(grades_df)

   StudentID     Name  Subject  StudyHours  Grade
0        101    Alice     Math         2.5     85
1        102      Bob  Science         4.0     92
2        103  Charlie     Math         1.5     78
3        104    David  English         3.0     88
4        105    Emily  Science         5.5     95
5        106    Frank     Math         NaN     65
6        107    Grace  English         2.0     81

In [4]:
print(grades_df.head())

   StudentID     Name  Subject  StudyHours  Grade
0        101    Alice     Math         2.5     85
1        102      Bob  Science         4.0     92
2        103  Charlie     Math         1.5     78
3        104    David  English         3.0     88
4        105    Emily  Science         5.5     95

In [5]:
print(grades_df.shape)

(7, 5)

In [6]:
print(grades_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   7 non-null      int64
 1   Name        7 non-null      object
 2   Subject     7 non-null      object
 3   StudyHours  6 non-null      float64
 4   Grade       7 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 412.0+ bytes
None